body, * {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*----------------------------------
HEADER
----------------------------------*/
header {
    background-color: transparent;
}
/*----------------------------------
HEADER - form-search
----------------------------------*/
header .form-search {
    height: 70px;
    background-color: transparent;
}

header input {
    border: none!important;
}
/*----------------------------------
HEADER - form-search:focus
----------------------------------*/
header .form-control:focus {
    box-shadow: none;
}
/*----------------------------------
HEADER - button-search:focus
----------------------------------*/
header .button-search:focus {
    box-shadow: none!important;
}
/*----------------------------------
HEADER - button: button-search:hover
----------------------------------*/
header .button-search .fa-search {
    color:#111;
}

header .button-search:hover {
    -moz-transform: scale(1.3) rotate(360deg);
    -webkit-transform: scale(1.3) rotate(360deg);
    -o-transform: scale(1.3) rotate(360deg);
    -ms-transform: scale(1.3) rotate(360deg);
    transform: scale(1.3) rotate(360deg);
    transition:all 1s ease;
    cursor: pointer;
}
/*----------------------------------
HEADER - a, .navbar-toggler, i
----------------------------------*/
header nav a {
    color: #111;
    letter-spacing: 1.5px;
}

header .navbar-toggler {
    outline: none;
}

header span i {
    color: #111;
    font-size: 1.5rem;
}
/*----------------------------------
HEADER - nav a:hover
----------------------------------*/
header nav a:hover {
    transition: all 1s ease;
    letter-spacing: 5px;
    color: #111;
}
/*----------------------------------
MODAL
----------------------------------*/
.modal {
    letter-spacing: 1.5px;
}

/*----------------------------------
AD - .img-advertising
----------------------------------*/
.container .img-advertising {
    border-radius: .25rem;
}
/*----------------------------------
SONGS
----------------------------------*/

.container .songs {
    letter-spacing: 1.3px;
    color: #111;  
}

.container .songs p span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.container .img-song {
    border-radius: .25rem;
}
/*----------------------------------
SONGS: img-hover:hover
----------------------------------*/
.container .img-song:hover {
    cursor: pointer;
    opacity: 0.8;
    /*scale*/
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all .5s ease;
}
/*----------------------------------
PROFILES
----------------------------------*/
.profiles {
    margin-top: 80px;
    margin-bottom: 50px;
}

.profiles .img-profile {
    border-radius: 50%;
}

.profiles p {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #111;
}
/*----------------------------------
BUTTON ALL PROFILES
----------------------------------*/
.button-profiles {
    background-color: #111;
}

.button-profiles a {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
}
/*----------------------------------
PROFILES: img-profile:hover
----------------------------------*/
.profiles .img-profile:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition:all 0.5s ease;
    transform: scale(1.1);
    /*shadow*/
    -webkit-box-shadow: 0px 0px 32px 32px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 32px 32px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 32px 32px rgba(0,0,0,0.23);
}
/*----------------------------------
AD - download music
----------------------------------*/
.download-music {
    margin-top: 100px; 
    margin-bottom: 0px; 
}
/*----------------------------------
AD - download app
----------------------------------*/
.download-app { 
    margin-bottom: 50px; 
}
/*----------------------------------
FOOTER
----------------------------------*/
footer {
    background-color: #ECEDEF;
}

footer audio {
    outline: none;
}

footer .footer-details {
    font-size: .65rem;
    letter-spacing: 1.5px;
}


footer .song-title {
    color: #6B6D6E;
}

footer .song-name {
    color: #111;
}

footer img {
    opacity: 0.8;
    background-color: #6B6D6E;
}
/*----------------------------------
FOOTER: img.hover
----------------------------------*/
footer a img:hover {
    opacity: 1;
    -moz-transform: scale(1.3) rotate(360deg);
    -webkit-transform: scale(1.3) rotate(360deg);
    -o-transform: scale(1.3) rotate(360deg);
    -ms-transform: scale(1.3) rotate(360deg);
    transform: scale(1.3) rotate(720deg);
    transition:all 1s ease;
}
/*----------------------------------
FOOTER: i.hover
----------------------------------*/
footer .fa-heart:hover {
    color: red;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transition:all 0.5s ease;
    transform: scale(1.4);
    cursor: pointer;
}

footer .fa-sliders-h:hover {
    color: #FF01FF;
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transition:all 0.9s ease;
    transform: scale(1.4);
    cursor: pointer;
}
/*----------------------------------
CAROUSEL
----------------------------------*/
a.carousel-control-prev,a.carousel-control-next {
    width: 5%!important;
}

span.carousel-control-prev-icon,span.carousel-control-next-icon {
    background-image: none;
    color: #111!important;
}
/*----------------------------------
MEDIA QUERY
----------------------------------*/
@media (min-width: 0px) and (max-width: 992px) {
   header .form-search {
       display: none;
   }  
}


@media (min-width: 0px) and (max-width: 768px) {
    .container .delete-xs {
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container .delete-md {
        display: none!important;
    }
}
/*----------------------------------
MEDIA QUERY - songs width
----------------------------------*/
@media (min-width: 0px) and (max-width: 576px) {
    .songs img {
        width: 130px;
    }
    .img-profile {
        width: 130px;
    }

    .container .songs, .profiles p {
        font-size: .85rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .songs img {
        width: 150px;
    }

    .img-profile {
        width: 150px;
    }

    .container .songs, .profiles p {
        font-size: .90rem;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .songs img {
        width: 175px;
    }

    .img-profile {
        width: 175px;
    }

    .container .songs, .profiles p {
        font-size: .95rem;
    }
}

@media (min-width: 1000px) and (max-width: 1150px) {
    .songs img {
        width: 195px;
    }

    .img-profile {
        width: 195px;
    }
}
